<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kunika.mvnu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mvnu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Student_dash" />
        <activity
            android:name=".Event"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Organise" />
        <activity android:name=".Attendance" />
        <activity android:name=".Library" />
        <activity
            android:name=".Study_Material"
            android:label="@string/title_activity_study__material"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Examination"
            android:label="@string/title_activity_examination"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Fee_Payment" />
        <activity
            android:name=".Portrait"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".EditProfile" />
        <receiver android:name=".MySmsBroadCastReceiver" android:permission="com.google.android.gms.auth.api.phone.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>